---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de este blog"
	description="por Antonio KC"
	pubDate={new Date('2025/10/11')}
	heroImage={AboutHeroImage}
>
	<p>
		Hola, soy Antonio Kobashikawa. Me apasiona aprender cosas nuevas cada día y
		compartir ese conocimiento con otros. En este blog, encontrarás una
		variedad de temas que he explorado recientemente, desde tecnología y
		ciencia hasta arte y cultura.
	</p>
	<p>
		Previamente, estuve haciendo este blog en: <a href="https://akcaprendiendo.blogspot.com/">https://akcaprendiendo.blogspot.com/</a> por si alguien quiere
		echarle un vistazo.
	</p>
	<p>
		Este nuevo sitio está construido con
		<a href="https://astro.build/">Astro</a>.
	</p>
	<p>
		También tiene una integración con Obsidian para facilitar la escritura en un ambiente local. Soporta graficos mermaid y fórmulas matemáticas de latex. Puedes encontrar más detalles de cómo hacerlo en el blog o en el proyecto <a href="https://github.com/akobashikawa/astro-obsidian">Astro Obsidian en GitHub</a>.
	</p>
	<p>

	</p>
	<p>¡Gracias por visitar y feliz aprendizaje!</p>
</Layout>
